In [4]:
import pandas as pd
employees = {
    'Nome': ['Ana', 'Bruno', 'Carlos', 'Daniela'],
    'Idade': [25,30,28,35],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo horizonte', 'Curitibia'],
    'Salário': [3500, 4200, 3900, 4500]
}

df_employ = pd.DataFrame(employees)
df_employ.to_csv('employees.csv', sep=',', index=False)

MOSTRE AS DUAS PRIMEIRAS LINHAS DO DATAFRAME

In [7]:
url = 'employees.csv'
data = pd.read_csv(url, sep=',')
print(data.head(2))

    Nome  Idade          Cidade  Salário
0    Ana     25       São Paulo     3500
1  Bruno     30  Rio de Janeiro     4200

In [11]:
# Passo 4: Obter informações gerais do DataFrame
# Use um método para ver o tipo de cada coluna e quantos valores não nulos existem.
print(data.info())
print('-------------------')
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     4 non-null      object
 1   Idade    4 non-null      int64
 2   Cidade   4 non-null      object
 3   Salário  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
None
-------------------
Nome       0
Idade      0
Cidade     0
Salário    0
dtype: int64

In [ ]:
#Passo 5: Filtrar dados
# Filtre e mostre apenas os registros onde o salário é maior que 4000.

In [12]:
print(data[data['Salário'] > 4000])

      Nome  Idade          Cidade  Salário
1    Bruno     30  Rio de Janeiro     4200
3  Daniela     35       Curitibia     4500

In [13]:
# Passo 6: Criar uma nova coluna
# Crie uma nova coluna chamada Salario_Anual, que é o salário multiplicado por 12.

data['Salario_Anual'] = data['Salário'] * 12
print(data)

      Nome  Idade          Cidade  Salário  Salario_Anual
0      Ana     25       São Paulo     3500          42000
1    Bruno     30  Rio de Janeiro     4200          50400
2   Carlos     28  Belo horizonte     3900          46800
3  Daniela     35       Curitibia     4500          54000